 <div class="card">
        <h5 class="card-header">Edit Your Post</h5>
        <form class="card-body" id="editPost">
          <div class="mb-3">
            <label for="postTitle" class="form-label">Post Title:</label>
            <input type="text" class="form-control" id="postTitle" value="{{post.post_title}}">
          </div>
          <div class="mb-3">
            <textarea class="form-control" id="newPost" rows="3">{{post.post_content}}</textarea>
          </div>

            <h6 class="card-footer">Created by: {{post.user.name}} @ {{format_date post.created_at}}</h6>
          <button type="submit" class="btn btn-dark mb-3">Edit Post</button>
          <button type="button" class="btn btn-dark mb-3" id="deletePost">Delete Post</button>
        </form>
      </div>

<script src="/js/deletePost.js"></script>
<script src="/js/editPost.js"></script>