
      <div class="card">
        <h5 class="card-header">Log in</h5>
        <form class="card-body" id="loginSubmit">
          <div class="mb-3">
            <label for="UserEmail" class="form-label">Email address: </label>
            <input type="email" class="form-control" id="UserEmail">
          </div>
          <div class="mb-3">
            <label for="UserPassword" class="form-label">Password:</label>
            <input type="password" class="form-control" id="UserPassword">
          </div>
          <button type="submit" class="btn btn-dark mb-3">Submit</button>   first time here?<a href="/signup">click here to sign up</a>
        </form>
      </div>

<script src="/js/login.js"></script>
