
      <div class="card">
        <h5 class="card-header">Sign Up</h5>
        <form class="card-body" id="signupForm">
          <div class="mb-3">
            <label for="newUserEmail" class="form-label">Email address: </label>
            <input type="email" class="form-control" id="newUserEmail">
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label">User Name: </label>
            <input type="text" class="form-control" id="newUserName">
          </div>
          <div class="mb-3">
            <label for="newUserPassword" class="form-label">Password: (must be atleast 8 character in length)</label>
            <input type="password" class="form-control" id="newUserPassword">
          </div>
          <button type="submit" class="btn btn-dark mb-3">Submit</button>    already signed up?<a href="/login">click here to log in</a>
        </form>
      </div>

<script src="/js/signup.js"></script>